<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h2>Вітаю, <span sec:authentication="principal.name"></span> <span sec:authentication="principal.surname"></span> (<span sec:authentication="name"></span>)</h2>

    <div sec:authorize="hasRole('ROLE_AUTH_ADMIN')">
        <div><a th:href="@{/api/password/пароль}">Паролі</a></div>
        <div><a th:href="@{/session/all/user-service}">Сесії</a></div>
        <div><a th:href="@{/admin/users}">Користувачі</a></div>
    </div>
    <div><a th:href="@{/api/me}">Про мене</a></div>
    <div><a th:href="@{/profile}">Профіль</a></div>
    <div><a th:href="@{/logout}">Піти</a></div>
</div>
</body>
</html>